
.Chat_container{
    
    margin: 100px 80px;
    height:700px;
    width: 800px;
    }
    .Chat_header{
        border-radius: 20px;
        width: 403px;
        height:500px;
       
    }
.Chat_wrapper{

    background:linear-gradient(rgb(202, 141, 28) 50%, white);
    border-radius: 20px 20px 20px 20px;
    margin:109px 189px;
    background-color: #f19420;
    height:750px;

}
li{
    color: chocolate;
    padding: 20px;

}
h1{

    font-weight: 400;
    color: white;
}
.Live_Chat_wrapper{
    display: grid;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    z-index: 10;
    height: 460px;

    background-color: white;
}



  .btn {
    
    display:grid;
    height: 45px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
  }
  